<!DOCTYPE html>
<html lang="en">
{% load static %}
<head lang="en">
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>注册</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/cyBlog/account.css' %}"/>
</head>
<body>
<div class="register">
    <div style="font-size: 25px; font-weight: bold;text-align: center;">
        用户注册
    </div>
    <form role="form" id="fm">
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="email" oninput="this.value = $.trim(this.value)" class="form-control" name="username"
                   id="username" placeholder="请输入用户名">
        </div>
        <div class="form-group">
            <label for="email">邮箱</label>
            <input type="email" oninput="this.value = $.trim(this.value)" class="form-control" name="email" id="email"
                   placeholder="请输入密码">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" oninput="this.value = $.trim(this.value)" class="form-control" name="password"
                   id="password" placeholder="请输入密码">
        </div>
        <div class="form-group">
            <label for="confirm_password">确认密码</label>
            <input type="password" oninput="this.value = $.trim(this.value)" class="form-control"
                   name="confirm_password" id="confirm_password"
                   placeholder="请重新输入密码">
        </div>

        <div class="form-group">
            <label for="password">验证码</label>

            <div class="row">
                <div class="col-xs-7">
                    <input name="check_code" class="form-control" placeholder="请输入验证码">
                </div>
                <div class="col-xs-5">
                    <img src="/checkCode" onclick="clickCheckCode(this)">
                </div>
            </div>

        </div>

        <div class="btn btn-default" onclick="register()">注册</div>
    </form>
</div>
</body>
<script src={% static '/js/jquery-2.1.4.min.js' %}></script>
<script>
    function clickCheckCode(that) {
        that.src = '/checkCode?_=' + (new Date() * 1)
    }

    function register() {
        var data = $('#fm').serialize();
        $.ajax({
            url: '/register',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function (res) {

            }
        });
    }
</script>
</html>